{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
    data-image-src="{% static 'img/hero.jpg' %}">
    <form class="d-flex tm-search-form" method="get" action="{% url 'search' %}">
        <input class="form-control tm-search-input" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-6 tm-text-primary">
            Here are all the results for your search '{{ query }}'
        </h2>
        <hr>
    </div>

    <div class="row tm-mb-90 tm-gallery">
        {% for i in results %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="{{i.image.url}}" alt="Image" class="img-fluid" style="width: 400px; height: 300px;">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{i.title}}</h2>
                    <a href="{% url 'single-video' i.category.slug i.slug %}">View more</a>
                </figcaption>
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{i.created_at}}</span>
                <span>9,906 views</span>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row tm-mb-90">
        <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
            {% if results.has_previous %}
            <a href="?page={{ results.previous_page_number }}" class="btn btn-primary tm-btn-prev mb-2">Previous</a>
            {% else %}
            <a href="javascript:void(0);" class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
            {% endif %}

            <samp>Page {{ results.number }} of {{ results.paginator.num_pages }}</samp>

            {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}" class="btn btn-primary tm-btn-next">Next</a>
            {% else %}
            <a href="javascript:void(0);" class="btn btn-primary tm-btn-next disabled">Next</a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock body %}
